.audience-bg 
{
	background-color: black;
	height: 2000px;
}

#audience h1
{
	color:gold;
	text-decoration:underline;
	font-family: 'Share Tech', sans-serif;
}

#audience h2
{
	color:white;
	text-decoration: none;
  display: inline;
}

#audience h3 {
  display: inline;
  color: #fff;
}

#audience input[type="submit"] 
{
	margin-left: 10px;
	font-size: 22px;
}

#audience input[type="text"] {
	font-size: 30px;
	border: 2px solid #999999;
}
#audience input[type="text"]:focus {
	border: 2px solid #E85D0C;
}

#Question
{
	font-size: 24px;
	color: gold;
}
