/* MASTER PAGE */
#master .master-form input[name="question"] {
	font-size: 30px;
	border: 2px solid #999999;
}
#master .master-form input[name="question"]:focus {
	border: 2px solid #E85D0C;
}
#master .master-form input[type="submit"] {
	margin-left: 10px;
	font-size: 22px;
} 
#master ul.players {
	padding: 0px;
}
#master ul.players li {
	list-style: none;
	font-size: 18px;
	margin: 5px 0px;
}
#master ul.players li input {
	font-size: 18px;
}